{% extends "layout.html"%}
{% block content%}
<div class="text-center font-weight-bold border-info">
   <p> By gathering and analyzing data on different twitter user and their
     tweets, I've created the TwitOff app! </p>
  <p> Here are the 5 most recent tweets for each user:</p>
</div>
<div class="row">
{% for user in users[:length(users)//2] %}
<div class="col-sm-6 pl-4">
   <a class="text-primary font-weight-bolder" href="/user/{{ user.name }}">{{ user.name }}</a>
   {% for tweet in user.tweets[:5]%} 
      <ul>
         <li class="text-dark">{{ tweet.text[:50] }}...</li>
      </ul>    
{% endfor %}
</div>
{% endfor %}
</div>
<div class="row">
{% for user in users[length(users)//2:] %}
<div class="col-sm-6 pl-4">
   <a class="text-primary font-weight-bolder" href="/user/{{ user.name }}">{{ user.name }}</a>    
   
   {% for tweet in user.tweets[:5]%}
   <ul>
         <li class="text-dark">{{ tweet.text[:50] }}...</li>
   </ul> 
{% endfor %}
</div>  
 
{% endfor %}
</div>
{% endblock %}

