{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <form action="/predict" method="post">
        <input type="text", name="user1" placeholder="User 1">
        <input type="text", name="user2" placeholder="User 2">
        <div class="col-sm-6-center">
          <input type="text", name="tweet_text" placeholder="This is a sample tweet.">
        </div>
        <div class="col-sm-6-center">
          <input type="submit" value="Compare">
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="input-group">
      <form method="post" action="/user" >
        <input type="text", name="user_name" placeholder="User to add">
        <input type="submit" value="Add User">
      </form>
    </div>
  </div>
  <div class="col-sm-6"></div>
  <div class="col-sm-6">
  {% for user in users %}
  <ul class="list-group">
    <li class="list-group-item">@{{ user.name }}</li>
  </ul>
  {% endfor %}
  </div>
</div> 

{% endblock %}